* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

p {
  font-size: 14px;
}

/* ============== Mixins ============= */
.btn-download, .btn-tour {
  transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
}

.btn-download, .btn-download:focus, .btn-download:active, .btn-download:visited {
  background: transparent;
  border-color: #129CF3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 3px;
  color: #337ab7;
}

.btn-download:hover {
  background-color: #129CF3;
  color: #fff;
}

.btn-tour, .btn-tour:focus, .btn-tour:active, .btn-tour:visited {
  color: #A9ADB0;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 500;
  background: transparent;
}

.btn-tour:hover {
  color: #fff;
}

.btn-tour i {
  font-size: 20px;
  padding-left: 5px;
  color: #129CF3;
}

/* ============== Generic Css ============= */
.section__title {
  padding-top: 90px;
  padding-bottom: 50px;
}

.section__title h2 {
  position: relative;
  text-align: center;
  color: #333;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.section__title h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 60px;
  height: 1px;
  background-color: #129CF3;
  margin-left: -30px;
}

.section__title p {
  color: #333;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  margin-top: 45px;
}

/* ============== Header ============= */
.header {
  background-image: url("../images/header-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.header-overlay {
  min-height: 100vh;
  background-color: rgba(31, 31, 31, 0.75);
}

.header__iphone img {
  width: 100%;
}

.header .logo {
  padding-bottom: 50px;
}

.header__text h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  line-height: 45px;
  padding-top: 30px;
  text-transform: uppercase;
}

.header__text p {
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
}

.header__btns {
  margin-top: 90px;
  margin-bottom: 50px;
}

/* ============== About Us ============= */
.about__iphone img {
  margin-top: 8px;
}

.choose-us-wrapper {
  padding-top: 50px;
}

.choose-us__title {
  padding-bottom: 50px;
}

.choose-us__title h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  position: relative;
}

.choose-us__title h2:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 70px;
  height: 1px;
  background-color: #129CF3;
}

.choose-us__title p {
  margin-top: 40px;
  font-size: 19px;
  line-height: 24px;
}

.choose-us__item {
  position: relative;
  padding-bottom: 4px;
  padding-left: 80px;
}

.choose-us__item div {
  position: absolute;
  top: 0;
  left: 0;
}

.choose-us__item div i {
  font-size: 55px;
  color: #129CF3;
  transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
}

.choose-us__item h3 {
  color: #343434;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
}

.choose-us__item p {
  color: #727272;
  font-size: 15px;
}

/* ============== Testimonial ============= */
.testimonial {
  background-image: url("../images/testimonial-bg.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.testimonial-overlay {
  background-color: rgba(31, 31, 31, 0.75);
  padding-top: 80px;
  padding-bottom: 80px;
}

.testimonial__img {
  display: block;
  border: 2px solid #129CF3;
  border-radius: 50%;
  margin: 0 auto;
  padding: 3px;
}

.testimonial__caption h2 {
  color: #129CF3;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  margin-top: 25px;
}

.testimonial__caption h4 {
  color: #129CF3;
  font-size: 18px;
}

.testimonial__caption h4 span {
  color: #D8D8D8;
  font-style: italic;
  font-weight: 300;
}

.testimonial__caption p {
  color: #D8D8D8;
  font-size: 18px;
  line-height: 27px;
  padding-top: 50px;
  padding-bottom: 63px;
}

.testimonial .round {
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
}

.testimonial .round.active {
  width: 13px;
  height: 13px;
  border: none;
  background-color: #fff;
}

/* ============== Features ============= */
.features-wrapper {
  padding-top: 30px;
  padding-bottom: 70px;
}

.features__item--left, .features__item--right {
  position: relative;
  margin-bottom: 65px;
  margin-top: 35px;
}

.features__item--left {
  padding-right: 90px;
  text-align: right;
}

.features__item--right {
  padding-left: 90px;
  text-align: left;
}

.features__icon--left, .features__icon--right {
  position: absolute;
  top: -8px;
  font-size: 40px;
  color: #129CF3;
  width: 90px;
  height: 90px;
  text-align: center;
}

.features__icon--left {
  right: 0;
}

.features__icon--right {
  left: 0;
}

.features__iphone {
  display: block;
}

/* ============== Purchase now ============= */
.purchase-now {
  background-color: #1a1a1a;
}

.purchase-now-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.purchase-now p {
  color: #dfdfdf;
  font-size: 18px;
  font-weight: 300;
}

.purchase-now .btn-purchase-now, .purchase-now .btn-purchase-now:active, .purchase-now .btn-purchase-now:focus, .purchase-now .btn-purchase-now:visited {
  background-color: #129CF3;
  border: 1px solid #129CF3;
  color: #fff;
  border-radius: 3px;
  padding: 15px 35px;
  text-transform: uppercase;
  transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
}

.purchase-now .btn-purchase-now:hover {
  background-color: #337ab7;
  border-color: #337ab7;
}

/* ============== Screens ============= */
.screens__img {
  width: 100%;
}

.cta-slide {
  position: relative;
  width: 100%;
  height: 589px;
  margin: 0 auto;
  overflow: hidden;
}

.cta-slide-container {
  position: absolute;
  top: 0;
  left: 0%;
  width: 166.66667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cta-slide-item {
  margin-right: 50px;
}

.cta-slide-item.end {
  margin-right: 0 !important;
}

.cta-slide-img {
  width: 100%;
  display: block;
}

/* ============== Counters ============= */
.counter {
  background-image: url("../images/counter-bg.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.counter-overlay {
  background-color: rgba(31, 31, 31, 0.4);
  padding-top: 120px;
  padding-bottom: 120px;
}

.counter__item {
  color: #fff;
  text-shadow: 0 0 3px #000;
  text-align: center;
}

.counter__item div i {
  color: #129CF3;
  font-size: 60px;
}

.counter__item h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: #D7DADB;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 1px;
}

.counter__item p {
  color: #D7DADB;
  font-size: 20px;
  margin-top: 0px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
}

/* ============== Download-now ============= */
/* ============== Download-now ============= */
.available-on {
  background-color: #1a1a1a;
  margin-top: -8px;
  position: relative;
}

.available-on__title {
  padding-top: 75px;
}

.available-on__title h2 {
  color: #fff;
  font-size: 30px;
}

.available-on__title p {
  color: #B5B5B5;
}

.available-on__item {
  text-align: center;
  border-left: 1px solid #0F1217;
  min-height: 230px;
  padding-bottom: 15px;
  position: relative;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}

.available-on__item:hover {
  background-color: #121212;
}

.available-on__item i {
  color: #129CF3;
  text-align: center;
  opacity: 1;
  font-size: 40px;
  padding-top: 90px;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}

#message {
  height: 117px;
  resize: none;
}
/*# sourceMappingURL=style.css.map */