*, *::after, *::before{
    box-sizing: border-box;
    border-collapse: collapse;
}

body{
    margin: 0;
    padding: 0;    
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.row{
    display: flex;
}
    .col{
        flex: 1;
    }
    .col-1{
        flex: 0 0 8.333333%;
    }
    .col-2{
        flex: 0 0 16.666666%;
    }
    .col-3{
        flex: 0 0 25%;
    }
    .col-4{
        flex: 0 0 33.333333%;
    }
    .col-5{
        flex: 0 0 41.666666%;
    }
    .col-6{
        flex: 0 0 50%;
    }
    .col-7{
        flex: 0 0 58.333333%;
    }
    .col-8{
        flex: 0 0 66.666666%;
    }
    .col-9{
        flex: 0 0 75%;
    }
    .col-10{
        flex: 0 0 83.33333%;
    }
    .col-11{
        flex: 0 0 91.666666%;
    }.col-12{
        flex: 0 0 100%;
    }





ul, li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.navbar, .header, .navbar__nav, .navbar__brand, h3, p, ul, li{
    margin: 0;
    padding: 0;
}
    .navbar__brand{
    }
    .navbar__nav{
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        margin: 1em 0;
    }
        .nav__item{
        }
            .nav__link{
                font-size: .8em;
                display: block;
                padding: 2em .8em;
                text-decoration: none;
                text-transform: uppercase;
                color: #000;
                font-weight: bold;
            }
            .active{
                color: rgb(16, 201, 195);
            }

.caption{
    text-align: center;
    padding: 100px 0;
}
    .caption h1{
        font-size: 2.5em;
        margin: 0;
    }
    .caption p{
        color: rgb(120, 120, 120);
    }
.designer{
    background-color: rgb(246, 246, 246) ;
}
.img-grid{
    overflow: hidden;
}

    .is-hidden-root > div{
        overflow: hidden;
    }
    img{
        height: 100%;
    }


.footer{
    min-height: 300px;
    background-color: rgb(2, 2, 2);
    color: rgb(189, 189, 189);
    padding: 0;
    padding-top: 100px;
}

.footer__artist{
}

.foot__link{
    color: rgb(189, 189, 189);
}

.is-pd-bt{
    padding: 1em 0;
}

.is-white{
    color: #fff;
}

.img-mask-hover-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(16, 201, 195);
    opacity: 0;
    cursor: pointer;
}
.img-mask-hover{
    position: relative;
}
.img-mask-hover:hover .img-mask-hover-inner{
    z-index: 1;
    opacity: .8;
    transition: 1s;
}
.fas{
    font-size: 3rem;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}