*, *::after, *::before{
    box-sizing: border-box;
    border-collapse: collapse;
}

body{
    margin: 0;
    padding: 0;    
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    overflow-x: hidden;
}
.container{
    width: 90%;
    margin: 0 auto;
}


.navbar{
    padding: .25em;
    z-index: 1;
}
    .navbar__brand{
    }
    .navbar__nav{
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        margin: 1em 0;
    }
        .nav__item{
        }
            .nav__link{
                font-size: .8em;
                display: block;
                padding: 2em .8em;
                text-decoration: none;
                text-transform: uppercase;
                color: #000;
                font-weight: bold;
            }
            .active{
                color: rgb(16, 201, 195);
            }
.center{
    text-align: center;
}
.caption{
    padding: 100px 0;
}
    .caption h1{
        font-size: 2.5em;
        margin: 0;
        background-color: transparent;
    }
    .caption p{
        color: rgb(120, 120, 120);
        background-color: transparent;
    }
.designer{
    background-color: rgb(246, 246, 246) ;
}
.img-grid{
    overflow: hidden;
}

    .is-hidden-root > div{
        overflow: hidden;
    }
    img{
        height: 100%;
    }

.ps-right{
    position: absolute;
    right: 5%;
}
.footer{
    min-height: 300px;
    background-color: rgb(2, 2, 2);
    color: rgb(189, 189, 189);
    padding: 0;
    padding-top: 100px;
}

.footer__artist{
}

.foot__link{
    color: rgb(189, 189, 189);
}

.is-pd-bt{
    padding: 1em 0;
}

.is-white{
    color: #fff;
}

.img-mask-hover-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(16, 201, 195);
    opacity: 0;
    cursor: pointer;
}
.img-mask-hover{
    position: relative;
}
.img-mask-hover:hover .img-mask-hover-inner{
    z-index: 1;
    opacity: .8;
    transition: 1s;
}
.fas{
    font-size: 3rem;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    background-color: rgb(16, 201, 195);
    text-transform: uppercase;
    border: none;
    color: #fff;
    padding: 1em;
    font-size: 1.1em;
    outline: none;
    cursor: pointer;
}
.contact{
    background-color: rgb(245, 245, 245);
    padding: 100px 0;
}
.form{
}
.form__inner{
    width: 100%;
    padding: 1em 0;
}
input{
    height: 3em;
}
input, textarea{
    padding: 1em;
    width: 100%;
}

.space-bt{
    justify-content: space-between;
}
.col-fix{
    width: calc((100% - 2em)/2)
}
.ifarme{
    width: 100%;
    height: 400px;
}
.contact__address{
    margin-top: 100px;
}
.counter{
    background-color: rgb(16, 201, 195);
    padding: 100px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
}
.about{
    min-height: 300px;
    position: relative;
}
.banner{
    min-height: 500px;
}